* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  display: flex;
  flex-direction: column;
}
header {
  display: inline-flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: rgba(255, 255, 255, 0.95);
}
ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
}
li {
  max-width: 15rem;
  margin: 0.5rem;
}
figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}
figcaption {
  font-size: 0.9rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 0.3rem;
  text-align: center;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.characterCard {
  border: 1px solid green;
  border-radius: 6px;
  margin: 0.2rem;
  width: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.sidebar {
  min-width: 220px;
}
.sidebar a {
  color: #111;
}

.characterProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.characterProfile span {
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
}

.characterProfile span img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.characterDetails {
  flex-direction: column;
}
.home,
.menu {
  background-color: #eee;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.5s ease;
}
.home {
  flex: 1;
  max-width: 100%;
}
.menuContent {
  flex: 1;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 0.5s ease;
  padding-left: 1rem;
  font-size: 0.8rem;
  line-height: 2.2;
}
.menuItem {
  flex: 1;
}
.menuItem:hover {
  background-color: #111;
  color: #fff;
  margin-left: -1rem;
  padding-left: 1rem;
  cursor: pointer;
}
.menuItem:hover::before {
  content: '▹ ';
}
::-webkit-scrollbar {
  display: none;
}
.menuIndicator {
  position: right;
  right: 0;
}
.character {
  outline: 1px solid red;
}
